/**
 * Code (generic/_code.scss)
 */

/* ----- General ----- */
code,
kbd,
tt {
  font-family: $font-family-monospace;
  font-size: small;
  color: $color-code;
  background-color: $color-code-bg;
  border-radius: 0.1875rem;
  padding: 0.125rem 0.375rem 0.1875rem 0.375rem;
}

pre:not(figure > pre),
figure {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  code {
    color: $color-pre;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

/* ----- Highlight ----- */
.highlight .hll {
  background-color: #151618;
}

pre.highlight > button {
  opacity: 0;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}

pre.highlight,
figure.highlight {
  border-radius: 5px;
  position: relative;
  background: #151618;
  color: $color-pre;
  padding: 0.75rem;

  .copy {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: background-color 0.1s ease-out, color 0.1s ease-out,
      opacity 0.1s ease-out;

    -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out,
      opacity 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out, color 0.1s ease-out,
      opacity 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out, color 0.1s ease-out,
      opacity 0.1s ease-out;

    margin: 0.75rem;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}

.highlight .c {
  color: #3f3e39;
} /* Comment */
.highlight .err {
  color: #960000;
  background-color: #1e0000;
} /* Error */
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight,
.highlight .w {
  color: #f8f8f2;
}
.highlight .err {
  color: #282a36;
  background-color: #ff79c6;
}
.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #44475a;
}
.highlight .cp {
  color: #50fa7b;
}
.highlight .nt {
  color: #50fa7b;
}
.highlight .o,
.highlight .ow {
  color: #f8f8f2;
}
.highlight .p,
.highlight .pi {
  color: #f8f8f2;
}
.highlight .gi {
  color: #f1fa8c;
}
.highlight .gd {
  color: #ff79c6;
}
.highlight .gh {
  color: #8be9fd;
  font-weight: bold;
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #bd93f9;
}
.highlight .kc {
  color: #ffb86c;
}
.highlight .kt {
  color: #ffb86c;
}
.highlight .kd {
  color: #ffb86c;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: #f1fa8c;
}
.highlight .sr {
  color: #8be9fd;
}
.highlight .si {
  color: #ff5555;
}
.highlight .se {
  color: #ff5555;
}
.highlight .nn {
  color: #50fa7b;
}
.highlight .nc {
  color: #50fa7b;
}
.highlight .no {
  color: #50fa7b;
}
.highlight .na {
  color: #8be9fd;
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color: #f1fa8c;
}
.highlight .ss {
  color: #f1fa8c;
}
