@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  margin-left: auto;
  margin-right: auto;
}

.color-swatch {
  width: 100%;
  padding: 50%;
  margin: auto;
  border-radius: 0.25rem;
  border-color: grey;
  border-width: 1px;
}

@media screen and (max-width: 400px) {
  .hide-logo-text {
    display: none;
  }
}