.diagram {
    opacity: 0.75;
}

.page-body * > img {
    display: block;
    margin: 0 auto !important;
}

.block-hero {
    margin-bottom: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}