/**
 * Lists (tools/_lists.scss)
 */

/* ----- Horizontal list ----- */
@mixin list-horizontal {
	li {
		float: left;
		// this might be important, dunno. seems to work without it though.
		// having it uncommented breaks navbar elements on certain browsers.
		//padding: 0;
		margin-bottom: 0;

		&::before {
			display: none;
		}
	}
}
